p[target] {
    color: rgb(242, 13, 242);
    font-weight: bold;
}

p[data-role="admin"] {
    background-color: lightgray;
}

p[target~="Cats"] {
    color: blue;
    border: dotted;
    font-weight: bold;
    text-align: right;
}

p[target^="example"] {
    border: 1px solid rgb(239, 6, 6);
}

p[target*="Apoorva"] {
    color: rgb(37, 244, 241);
    text-align: center;
    font-weight: bold;
}

p[target$="cat"] {
    color: greenyellow;
    text-decoration: line-through;
    font-weight: bold;
}
